{% extends "layouts/layout.html" %}

{% block content %}

<h1>posts</h1>

{% for post in posts %}

<div class="p-3">

    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
                <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">
            </div>
    
            <div class="col-9">
                <h2>{{post.title}}</h2>
                <p>{{post.description|striptags|truncatechars:100}}</p> <!-- se utiliza para limitar el texto a lo que queramos y para que la información que venga como html la convierta a texto normal -->
                <p>{{post.date|date:'M d Y'}}</p>
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{post.title}}</a>  <!-- se hace referencia a las url de blog por medio del name. -->
            </div>
        </div>
    
    </div>
</div>

{% endfor %}

{% endblock %}
